[afterburner]

  # full path to the python executable
  python_exec = /opt/nesi/CS500_centos7_skl/Anaconda3/2020.02-GCC-7.1.0/bin/python

  # full path to abrun.sh
  abrun_exec = /nesi/nobackup/nesi99999/pletzera/niwa00013/nesi/turbofan/pletzer/bin/abrun.sh

  app_name = NetcdfModelMonitor

[general]
  num_years = 0
  max_num_concurrent_jobs = 40
  exec_time_limit = PT1H
  python_module = Anaconda3/2020.02-GCC-7.1.0
