[afterburner]

  # full path to the python executable
  python_exec = /nesi/nobackup/niwa00013/williamsjh/miniconda3/envs/afterburner/bin/python

  # full path to abrun.sh
  abrun_exec = /home/williamsjh/turbofan/trunk/bin/abrun.sh

  app_name = ModelMonitor2

[general]
  max_num_concurrent_jobs = 40
  exec_time_limit = PT12H

[slurm]
  account = nesi99999
  partition = nesi_prepost
  
