[afterburner]

  # full path to the python executable
  python_exec = /opt/nesi/CS500_centos7_skl/Anaconda3/2020.02-GCC-7.1.0/bin/python

  # full path to abrun.sh
  abrun_exec = /home/williamsjh/turbofan/trunk/bin/abrun.sh

  app_name = ModelMonitor2

[general]
  max_num_concurrent_jobs = 40
  exec_time_limit = PT4H

[slurm]
  account = nesi99999
  
